{% extends 'base.html.twig' %}

{% block title %}Petites annonces{% endblock %}

{% block body %}
    <div class="container">
        <h2>les petites annonces</h2>
    </div>
    <div class="row flex">
        {% for annonce in annonces %}
            <div class="col-3">
                <div class="col-12 col-md-6 bg-cover card-img-start" style="background-image: url({{ vich_uploader_asset(annonce, 'imageFile') }})">
                    <img src="{{ annonce.file }}" alt="..." class="img-fluid d-md-none invisible">
                    <h5 class="card-title">
                        <a href="{{ path('annonce.show', {id: annonce.id}) }}">{{ annonce.titre}}</a>
                    </h5>
                    <p class="card-text">
                        {{ annonce.caracteristiques }}
                        {{ annonce.description }}
                        {{ annonce.prix | number_format(0, '', ' ') }}€
                        {{ annonce.contact }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
